<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<false/>
	<key>VITE_SUPABASE_URL</key>
	<string>https://xyyahrqfmdblvonnaifi.supabase.co</string>
	<key>VITE_SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5eWFocnFmbWRibHZvbm5haWZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NjQ0NzgsImV4cCI6MjA5MzQ0MDQ3OH0.gpyWvjJOkCGYvNhYBZqHg8IgjYN3fI-T9X6bd44l52k</string>
</dict>
</plist>
