<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Zodian lets you choose a photo for your Connect card.</string>
	<key>ZODIAN_ENVIRONMENT</key>
	<string>$(ZODIAN_ENVIRONMENT)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_PROJECT_REF</key>
	<string>$(SUPABASE_PROJECT_REF)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>POSTHOG_PROJECT_TOKEN</key>
	<string>$(POSTHOG_PROJECT_TOKEN)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
</dict>
</plist>
